<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        
        <h1>Stock Price Predictor</h1>
        <p>Enter company names and select from the dropdown. Then click 'Predict' to get the stock prices and prediction.</p>
        <input type="text" id="ticker-input" placeholder="Enter company name (e.g., Google)">
        <div id="autocomplete-list" class="autocomplete-items"></div>
        <div class="ticker-choice-display"></div>
        <button class="generate-report-btn">Predict</button>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
